<form autocomplete='off'>
	<div class="flexrow">
		<input id='vsac-range-config-display' type='checkbox' data-dtype='Boolean' name='display' {{checked settings.display}}>
		<label for='vsac-range-config-display'>Display range</label>
	</div>
	<div class="flexrow">
		<input id='vsac-range-config-5105' type='checkbox' data-dtype='Boolean' name='pf5105' {{checked settings.pf5105}}>
		<label for='vsac-range-config-5105'>Use 5105 rule</label>
	</div>
	<div class='buttons flexrow'>
		<button type='submit'>Save</button>
		<button type='reset'>Reset</button>
	</div>
</form>
